body,html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: antiquewhite;
}

header {
    width: 100vw;
    height: 70px;
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-topic {
    color: #ffff;
    font-size: 22px;
    padding: 5px;
    border: 2px solid #ffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #fff;
}
.note-container {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: wheat;
    margin-left: 50px;
    margin-top: 50px;
    border: 4px solid wheat;
}
#note-title {
    border: none;
    padding: 0;
    height: 40px;
    width: 100%;
    background-color: wheat;
    outline: 0;
    border-bottom: 2px solid grey;
}
#note-text {
    width: inherit;
    padding: 0;
    height: 120px;
    border: none;
    outline: 0;
    background-color: wheat;
    resize: none;

}
.note-control {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#note-status {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}